<li>
	<%= qwyz[:name] %>, 
	<%= link_to "edit", edit_qwyz_path(qwyz) %>,
	<%= link_to "view qwyz", qwyz %>
	<!-- <%= link_to "delete", qwyz, :method => :delete, 
			data: { confirm: 'You sure?' }, 
			:name => qwyz.name %> -->
</li>
