
<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' 
				http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to www.qwyzmo.com, <%= @user.name %></h1>
		<p>
			Please click the following
			link to fully activate your account:
			<a href="<%= @url %>">Activate account</a>
		</p>
	</body>
</html>