
<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' 
				http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to www.qwyzmo.com, <%= @user.name %></h1>
		<p>
			You must activate your account. Please click on the following
			link and log in to fully activate your account.
			<%= @url %>
		</p>
	</body>
</html>