
<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' 
				http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Resetting your Qwyzmo password</h1>
		<p>
			Please click the following
			link to reset your password
			<a href="<%= @url %>">Reset Qwyzmo password</a>
		</p>
	</body>
</html>