
<div class="user-page-body">
	<h3>Please enter your email. 
		We will send you a password reset link.</h3>
	
	<%= form_tag("/send_reset_link", method: "get") do %>
		<%= label_tag "Email:"%>
		<%= text_field_tag :email%>
		<%= submit_tag "Send reset password link"%>
	<% end %>
</div>