
<% if signed_in? %>
	<span>You are signed in</span>
	<% if current_user.admin? %>
		<span>, as an admin.</span>
	<% end %>
	<table class="front"	summary="For signed-in users">
		<tr>
			<td class="main">
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>
<% else %>
	<h1>Qwyzmo</h1>
	<p>
		Please sign in or register.
	</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
