
body {
  background:   #227;
  margin-left:  auto;
  margin-right: auto;
  font-family:  Ubuntu;
}

#topbar {
  background:   black;
  color:        white;
  padding: 6px 0px 4px 10px;
  margin-top: -18px;
  border-bottom-style: solid;
  border-bottom-color: #99f;
}


#logo {
  width: 75%;
  height: 36px;
  margin: 0 auto;
  font-style: italic;
  font-family: cursive;
  display: inline;
  margin-left: 9%;
  margin-top: -8px;
  color: #fff;
}

#logo-link {
  text-decoration: none !important;
}

#logo-q {
  font-weight: bolder;
  font-size: 26px;
  margin-right: -2px;
  text-shadow: 0px 0px 10px #fff;
}

#logo-wyzmo {
  font-weight: 800;
  font-size: 19px;
  text-shadow: 0px 0px 10px #fff;
}

#logo-beta {
  font-size: 12px;
  color: #aaf
}

/*************************  Login bar */
#login-bar {
  display: inline-block;
  padding-left: 14%;
}

#login-bar a {
  color: #aaf;
}

#login-bar form {
  margin-left: 10px;
  display:inline-block;
}

#login-bar span {
  font-style:italic;
  margin-right: 20px;
}

#login-bar a {
  margin-right:10px;
}

/***************************** links */

a {
    color: #aaf;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

#navbar {
  margin: 9px auto;
  background: #eef;
  display: inline-block;
  position: relative;
  left: 22%;
  padding: 0 0.7em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #efe;
    color: #0a0;
}

#main {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background: #eef;
    box-shadow: 0px 0px 100px #00f;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/******************* page bodies */

#sign-up-body {
  margin-left: 7%;
}

#home-body {
  margin-left: 8%
}

#votes-body {
  
}

/**********************************  qwyz edit page **/

#qwyz_name textarea{
  height: 2em;
  width: 90%;
}

#qwyz_question textarea{
  height: 6em;
  width: 90%;
}

#qwyz_description textarea{
  height: 8em;
  width: 90%;
}

#qwyz_item_description textarea{
  height: 8em;
  width: 90%;
}

/***************** home page */

.browse-qwyz-row {
  border: 2px solid green;
  margin: 10px 120px 10px 0px;
  padding: 5px 5px 5px 25px;
  background-color: white;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.browse-qwyz-row:hover {
  background-color: #efe;
}

.browse-qwyz-link {
}

/************************ vote page */

#qwyz-vote-info {
  background: #fff;
  padding: 5px 25px 5px 25px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:           10px;
}

#votes-body #qwyz-name {
  font-weight: bold;
  padding: 1px;
  margin: 10px 0px 0px 0px;
}

#votes-body #question-row h2 {
  text-align: center;
  margin: 0px;
  padding: 5px;
}

#votes-body #title-row a {
  background: #efe;
  color: #0a0;
  padding: 2px 10px 4px 10px;
  -moz-border-radius:     5px;
  -webkit-border-radius:  5px;
  border-radius:           5px;
}

#votes-body #title-row a:hover {
  background: #cfc;
  color: #060;
}

#votes-body #author {
  margin: 2px 10px 5px 0px;
  padding: 15px;
  font-size: 0.8em;
  font-style: italic;
}

#votes-body #question {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

#votes-body #qwyz-results-link {
  float: right;
}

#votes-body table {
  border-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  /*border-collapse:collapse;*/
  table-layout:fixed;
}

#votes-body table th {
  font-size: 1.5em;
  /*background-color: #ddf;*/
  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:           10px;
}

#votes-body table td {
  border: 4px solid #5c5;
  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:           10px;
  background: #000;
  width: 50%;
}

#votes-body table td input {
  width: 100% 
}

#votes-body table td:hover {
  background: #efe;
  border: 3px solid #0f0;
}

/*************************** tables for user show page */

table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc
}

/****************************** flash messages */ 

div.flash {
  width: 50%;
  padding: 15px;
  border-style: solid;
  border-width: 2px;

  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:           10px;
}

div.notice {
  border-color: #00f;
  background: #fff;
  color: #44f;
}

div.error {
  border-color: #f44;
  background: #fee;
  color: #a00;
}

/************************************* error messages */

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff
}

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

/*****************************  misc */

.round {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.debug_dump {
  color: #00a;
  margin-top: 300px;
  margin-left: 200px;
}














