
<h2>Add a New Item to: </h2><%=@qwyz.name%>
<hr>

<%= form_for [@qwyz, @qwyz_item] do |f| %>
	<span>Description</span>
	<div id="qwyz_item_description">
		<%= f.text_area :description %>
	</div>
	<div class="actions">
		<%= f.submit :save %>
	</div>
<% end %>
