
<div id="show-item-body">
	<div id="show-item-top">
		<span><%= @qwyz_item.description %></span>
		<%= link_to "back to qwyz results", qwyz_votes_path(@qwyz_item.qwyz_id),
				class: "primary-button" %>
	</div>
	<%= image_tag @qwyz_item.image_url.to_s %><br />
</div>
